@font-face {
    font-family: 'Clouds of Despair LSF';
    src: url("CloudsofDespairLSF.woff");
    font-family: 'Bubble Bobble';
    src: url("BubbleBobble.woff");
    font-family: 'BUBBLE BOBA';
    src: url("BUBBLE-BOBA.woff");

}

/* 모바일이나 터치스크린에서 호버 적용되도록*/
@media (hover:none) {
    .food-title{
        opacity:1;
    }
    .food-image img{
        filter: blur(2px);    ;
}
}

html{
    scroll-behavior: smooth;
}
#welcome{
    background-image: url("cloud-photo.jpg");
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    background-size: cover;
}
body{
    margin:0;
}

.typed{
    font-family: 'BUBBLE BOBA';
    font-size: 16em;
    color: white;
    font-weight:lighter;
    margin:0;
    white-space: nowrap;
    overflow: hidden;
    display:inline-flex;
    padding-left:270px;
    padding-top: 200px;
}

.blink{
    font-family: 'BUBBLE BOBA';
    font-size: 7em;
    color: white;
    animation: blink 0.5s infinite;
    -webkit-animation: blink 0.5s infinite;
}
@keyframes blink {
    to {
      opacity: 0;
    }
  }

.main-title:link{
    color: white;
    text-decoration:none;
}
.main-title:visited {
    color:white;
}
.main-title:hover{
    color:white;
}
.main-title:active {
    color:white;
}

.main-nav {
    padding-top: 50px;
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    width:100vw;
}
.sunny{
    height: 6vh;
    position:relative;
    top:13px;
}
.rainbow{
    height: 6vh;
    position:relative;
    top:13px;
}
.moon{
    height: 5vh;
    position:relative;
    top:13px;
}
a{
    height: 6vh;
    text-decoration: none;
    color:inherit;
}
.profile{
    padding-top:20px;
    height: 80vh;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    width:100vw;
}
.profile-image{
    height: 500px;
    width: 500px;
    position: relative;
    left: 70px;
    bottom:10px;
    border-radius:10px;
}
.profile-text{
    position:relative;
    bottom: 30px;
    height: 700px;
    width: 800px;
    text-align: center;
    font-family: 'Poor Story', cursive;
    font-size:30px;
    color:cornflowerblue;
    white-space : nowrap;
    overflow : hidden;
}
.highlighttext{
    font-size: 35px;
    color:rgb(220, 157, 20);
    font-family: 'Poor Story', cursive;
    white-space : nowrap;
    overflow : hidden;

}
footer{
    text-align: center;
    background-color: rgb(82, 155, 250);
    color:white;
    font-size: 12px;
    padding: 7px;
}
.title{
display:inline-block;
text-align: end;
width: 100vw;
height:143px;
}
.title-text{
    font-family: 'Poor Story', cursive;
    font-size: 90px;
    padding-top: 30px;
    position:relative;
    top: 25px;
    color:rgb(220, 157, 20);
    white-space : nowrap;
    overflow : hidden;
}
.sidebar{
    display:inline-flex;
    justify-content:space-evenly;
    flex-direction:column;
    padding-top: 5px;
    top:15px;
    padding-left: 100px;
    height:600px;
    width:60px;
    float:left;
}
.likebox{
    padding-top:20px;
    height: 70vh;
    display:inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 1700px;
    top:20px;  
}
.likevideo{
    position:relative;
    top: 50px;
    bottom:75px;
    left: 170px;
}
.liketext{
    position:relative;
    right: 160px;
    top: 25px;
    height:400px;
    width:800px;
    text-align: center;
    font-family: 'Poor Story', cursive;
    font-size:30px;
    color:cornflowerblue;
}
.arrow{
    position:relative;
    top: 25px;
    left: 175px;
    height:100px;
    width:100px;
}
/*
.description{
    position:relative;
    top: 70%;
    height: 60vh;
    width: 60wh;
    text-align: center;
    font-family: 'Poor Story', cursive;
    font-size:30px;
    color:cornflowerblue
}
*/
.music{
    height:60px;
    width:60px;
}
#second-page{
    width: 100vw;
    height: 56.25%;
    max-height: 100vh;
    max-width: 189.78vh;
    border-bottom: 5px dotted cornflowerblue;
}
#third-page{
    width: 100vw;
    height: 56.25%;
    max-height: 100vh;
    max-width: 189.78vh;
}
.singer{
    position:relative;
    bottom:60px;
    left: 80px;
    font-family: 'Poor Story', cursive;
    font-size:40px;
    color:rgb(65, 98, 161);
    width:425px;
    height:110px;
}
.Main-text{
    position:relative;
    font-family: 'Poor Story', cursive;
    padding-left: 30px;
    font-size: 30px;
    white-space : nowrap;
    overflow : hidden;
}
.Myself-text{
    position:relative;
    font-family: 'Poor Story', cursive;
    padding-left: 30px;
    font-size: 30px;
    white-space : nowrap;
    overflow : hidden;
}
.Whatilike-text{
    position:relative;
    font-family: 'Poor Story', cursive;
    padding-left: 30px;
    font-size: 30px;
    white-space : nowrap;
    overflow : hidden;
}

#section3-2{
    width: 100vw;
    height: 56.25%;
    max-height: 100vh;
    max-width: 189.78vh;
    margin: 0 auto;
}

#section3-1{
    width: 100vw;
    height: 56.25%;
    max-height: 100vh;
    max-width: 189.78vh;
    margin: 0 auto;
}

.movie1{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    top:35px;
}
.movie2{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    top:35px;
}

.skybluearrow2{
    position:relative;
    top: 5px;
    right:35px;
    height:100px;
    width:100px;
}
.harrypotter{
    height:350px;
    width:650px;
    position:relative;
    bottom: 70px;
    left:80px;
    border-radius:10px;
}
.avengers{
    height:350px;
    width:650px;
    position: relative;
    right: 140px;
    bottom:52px;
    border-radius:10px;
}
.harrypotter-text{
    position:relative;
    right:140px;
    font-family: 'Poor Story', cursive;
    font-size: 30px;
    text-align:justify;
    bottom: 70px;
    color:cornflowerblue;
}
.skybluearrowleft{
    position:relative;
    height:100px;
    width:100px;
    right: 45px;
    bottom: 5px;
}
.avengers-text{
    position:relative;
    font-family: 'Poor Story', cursive;
    font-size: 30px;
    text-align:justify;
    color:cornflowerblue;
    left: 100px;
    bottom:32px
}

.food-listing{
    position:relative;
    overflow: hidden;
    width:480px;
    height: 300px;
    left: 260px;
    bottom: 10px;
}

.food-title{
    position: absolute;
    top: 0;
    left:0;
    /*
    height: 100%;
    width: 100%;
    */
    width:480px;
    height: 300px;
    background: rgb(100, 149, 237, 0.4);/*rgb(90,100,240, 0.4);*/
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity:0;
    transition: opacity .5s;
    z-index:1;
    border-radius: 20px;
}

.food-listing:hover .food-title{
    opacity: 1;
}

.food-image{
    line-height: 0;
}

.food-image img{
    filter: blur(0px);
    transition: filter 0.3s ease-in;
    transform: scale(1,1);
}
.food-listing:hover .food-image img {
    filter:blur(2px);
}
.eat{
    width:480px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
    white-space : nowrap;
    overflow : hidden;
}
.grid-container{
    display:inline-grid;
    grid-template-columns: 480px 480px;
    grid-gap: 1em;
    right:140px;
    top: 30px;
}

/* Header */

.social{
   position:relative;
   padding: 13px;
}

.sidebar_movie{
    display:flex;
    justify-content:space-evenly;
    flex-direction:column;
    padding-top: 250px;
    padding-left: 130px;
    height:600px;
    width:60px;
    float:left;
}
.sidebar_food{
    display:flex;
    justify-content:space-evenly;
    flex-direction:column;
    padding-top: 250px;
    padding-left: 150px;
    height:600px;
    width:60px;
    float:left;
}

.title_text_food{
    position:relative;
    top: 10px;
    right:110px;
}